<form asp-action="Create" method="post">
    <label>Customer ID:</label><input name="CustomerId" /><br/>
    <label>Product ID:</label><input name="ProductId" /><br/>
    <label>Quantity:</label><input name="Quantity" type="number"/><br/>
    <button type="submit">Create Order</button>
</form>
