<form asp-action="Create" method="post">
    <label>Full Name:</label><input name="FullName" /><br/>
    <label>Email:</label><input name="Email" /><br/>
    <label>Phone:</label><input name="Phone" /><br/>
    <button type="submit">Add Customer</button>
</form>
